body {
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lavender;
}

.container {
  width: 60%;
}

.rowOrientation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.normalOrientation {
  display: flex;
  flex-direction: column;
}

.normalOrientation.name {
  width: 48%;
}

.normalOrientation.age {
  width: 30%;
}

.normalOrientation.gender {
  width: 60%;
}

/* Style the form */
#ownersignup {
  background-color: #ffffff;
  margin: auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
.textbox {
  padding: 10px;
  width: auto;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
.textbox.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  border-style: groove;
  padding: 1rem;
  flex-direction: column;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04aa6d;
}
