<head>
        <meta charset="utf-8">
        <title>Bow-Wow Sitters</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/landing.css">
    </head>
 <body>
<main>    
<ul>
  <li><a href="/sitterSignin">I am a sitter</a></li><li><a href="/customerSignin">I am a dog owner</a></li>
</ul> 
</main>
</body>