<head>
 <title>Admin Login</title>
</head>
<main>
  <h1>Admin Access Only</h1>

  <form method="POST" action="/login" id="login-form">
    <label for="username">
      Username
      <input id="username" type="text" name="username" placeholder="username">
    </label>
    <br> <br>
    <label for="password">
      Password
      <input id="password" type="password" name="password" placeholder="password">
    </label>

    <br>
    <button type="submit">Login</button>
  </form>
  {{#if hasErrors}}
    <p class="error">{{error}}</p>
  {{/if}}
</main>
