<head>
        <meta charset="utf-8">
        <title>Logout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="/public/css/style.css">
    </head>
 <body>
<main>    
<p>
   It seems User has been logged out!
</p> 

<div class="navbar">
 <a href="/routes/landing.js" class="active">Please Click here to log in</a>
</div>
</main>
</body>