
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Private</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="/public/css/style.css">
    </head>

 <body>
<main>


   
<p>
    {{email}}
    
</p> 

     <nav  class="navbar">
          <a href="/logout">Logout</a>  
     </nav>
</main>
</body>

