<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sitter Login</title>
  <link rel="stylesheet" href="/public/css/dog-sitter-login.css" />
</head>
<body>
  <h1>Sitter Review</h1><br />
  <div class="container">
    <form id="login" method="post" action="/sitterSignin">
      <div class="tab">
        <p style="text-align: center; font-weight: normal; font-size: xX-large">
          Bow-Wow 🐶 Review Sitter
        </p>
        <div class="normalOrientation">
          <label for="review">Review</label>
          <input
            class="textbox"
            type="text"
            required
            id="review"
            name="review"
            value="{{review}}"
            placeholder="review"
          />
        </div>
        <br />
        <div class="normalOrientation">
           <label for="rating_val">Filter rating</label>
                                   <select name="rating_val" id="rating_val">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                   </select>
        </div>
        <br /><br />
        <input
          type="submit"
          value="Login"
          name="log"
          id="log"
          style="width: 30%; align-self: center"
        />
        <br />
        {{!-- <a href="/sitterSignup" style="align-self: flex-end">Need to register?
          Click here to sign-up</a><br /> --}}
      </div>
    </form>
    <br /><br />
    {{!-- {{#if hasErrors}}
      <ul>

        {{#each error}}
          <li class="errors">{{this}}.</li>
        {{/each}}

      </ul>
    {{/if}}
    {{#if hasserverErrors}}
      <ul>
        <li class="errors">{{error}}.</li>
      </ul>
    {{/if}} --}}
</div>

</body>